<% provide(:title, "Contact Us") %>

<h1>Contact Us</h1>

<section class="wedding_info" >
<h3>By Email</h3>
<p>
samanthalouis.12@gmail.com<br>
titbabthomas@gmail.com<br>
</p>

<h3>By Phone</h3>
<p>
404-545-2623<br>
404-219-2104<br>
</p>

</section>
