<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Sam & Seb's Website</h1>

  <h2>
  </h2>
  <% if logged_in? %>
  <%= link_to "Wedding Info", wedding_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
