<% provide(:title, "Our Story") %>

<div class="center jumbotron">
  <h1>Our Story</h1>
</div>

<div id="left_section">
<%= image_tag(random_pic, :height => "100%", :width => "100%", alt: random_pic) %>
</div>


<div id="right_section"> 
  <p>
  Once upon a time...<br>
  <br>
  There was a little boy named Sebastien. He met a nice little girl name Samantha.
  They grew up in a small city in Haiti named Port-au-Prince. They barely talked to 
  eachother the rare times they would see eachother at birthday parties.
  As they grew older they got closer to eachother and became great friends.
  With time they got so close to eachother that they knew about eachother's secrets.
  They had no clue that they were about to be more then best friends.
  </p>
  <p>
  One day, as Sebastien was going through some young man story and needed advice from his best friend, 
  a little bird told Sebastien: "Why are you not with Samantha?" That little bird told Samantha the same
  thing: "Why are you not with Sebastien?" And that was the beginning of the more than just best friend part of our lives.
  </p>
  <p>
  To be continued...
  </p>
</div>
