<% provide(:title, "Wedding Info") %>
<div class="center jumbotron">
  <h1><%= get_days_left %></h1>

  <h2>
  I'll Be There:
  </h2>
  
  <%= link_to "In Person", '#', class: "btn btn-lg btn-primary my-btn" %>
  <%= link_to "In Spirit", '#', class: "btn btn-lg btn-primary" %>
</div>

<section class="wedding_info" >
<h3>Date</h3>
<p>
Thursday, the thirtieth of July<br>
two thousand and fifteen<br>
at four o'clock in the afternoon
</p>

<h3>Ceremony</h3>
<p>
St. Thomas the Apostle Church<br>
24 Westminster Road<br>
West Hempstead, NY 11552
</p>

<h3>Reception</h3>
<p>
Westbury Manor<br>
1100 Jericho Turnpike<br>
Westbury, NY 11590
</p>

<h3>Registries</h3>

<ul>
<li><a href="https://www.jcpenney.com/dotcom/jsp/giftregistry/gifterGiftList/gifterGiftList.jsp?filterBy=viewAll&regId=80060645&sort=category&view=list&viewType=PUBLIC"> JC Penny </a></li>
<li><a href="http://www1.macys.com/registry/wedding/guest/?registryId=6297389"> Macy's </a></li>
</ul>

</section>