<% provide(:title, "Wedding Info") %>
<div class="center jumbotron">
  <h1><%= get_days_left %></h1>

  <h2>
  I'll Be There:
  </h2>
  
  <%= link_to "In Person", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "In Spirit", '#', class: "btn btn-lg btn-primary" %>
</div>