<% provide(:title, "Wedding Info") %>
<div class="center jumbotron">
  <h1><%= get_days_left %> days until We Become One!!!</h1>
  
<div class="rsvp">
<% if logged_in_admin? || can_rsvp? %>
	<h2>RSVP:</h2>
	<%= form_tag(wedding_path, method: "get") do %>
	 <% (0..get_options.length-1).each do |i| %>
		<%= submit_tag get_options.at(i), class: "btn btn-lg btn-primary" %>
	  <% end %>
	<% end %>
<% else %>
	<h2>Please come back on or after <%= get_rsvp_date %> to rsvp. Thank you!</h2>
<% end %>
</div>

</div>

<section class="wedding_info" >
<h3>Date</h3>
<p>
Thursday, the thirtieth of July<br>
two thousand and fifteen<br>
at five o'clock in the afternoon
</p>

<h3>Ceremony</h3>
<p>
St. Thomas the Apostle Church<br>
24 Westminster Road<br>
West Hempstead, NY 11552
</p>

<h3>Reception</h3>
<p>
Westbury Manor<br>
1100 Jericho Turnpike<br>
Westbury, NY 11590
</p>

<h3>Registries</h3>

<ul>
<li><a href="https://www.jcpenney.com/dotcom/jsp/giftregistry/gifterGiftList/gifterGiftList.jsp?filterBy=viewAll&regId=80060645&sort=category&view=list&viewType=PUBLIC"> JC Penny </a></li>
<li><a href="http://www1.macys.com/registry/wedding/guest/?registryId=6297389"> Macy's </a></li>
<li><a href="http://carnival.honeymoonwishes.com/Honeymoon-Registry-261057-Carnival-Eastern-Caribbean-Emmanuel-Thomas-Samantha-Louis.html"> Carnival Cruise</a></li>
</ul>

<embed src="http://www.carnival.com/~/media/CCLUS/my-cruise-countdown/countdown.ashx?dat=07%2F31%2F2015&dest=C&ship=SH&js_config=http://www.carnival.com/~/media/CssAndJsFiles/my-cruise-countdown/js/quicksearch js.ashx" type="application/x-shockwave-flash" width="320" height="300" quality="high" bgcolor="#ffffff" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</section>