<% provide(:title, @family.family_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @family.family_name %>
      </h1>
    </section>
  </aside>
</div>

<div>
<table>
    <%= render 'users/user_headers' %>
	<%= render @family_members %>
</table>
</div>