<% provide(:title, 'All guests') %>
<div class="center jumbotron">
<h1>All guests</h1>
	<%= link_to "Add guest!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= will_paginate %>

<!--<ul class="users">-->
<table>
<tr>
    <th>Full Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Address</th>		
    <th></th>
</tr>
  <%= render @users %>
</table>
<!--</ul>-->

<%= will_paginate %>