# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 11099910e63207d909f7cc1678c50f3a676bdd91149a7890ceaee9c09b7888a4fbf47864ab7a7a2fca2139edbc84cc3c20d5961cf9def17e91393fcd9852d551
  twilio_account_sid: ACaa85a063dd14cba4f792f1468c5147c2
  twilio_auth_token: 973de4e27740406e94c67b7565eeb625
  
test:
  secret_key_base: 82e8ed26bcf9c7ae30c794d1d8ba71467f690d9860cd84d285e36352407fd223d11629ec24346317f611c05d0f4aff5696b6aa7ae883d66757d21dc920f7ffbd

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
