<footer class="footer">
  <small>
    Made by Sebastien Thomas
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
    </ul>
  </nav>
</footer>
